<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">Listado de productos</span>
                    <button class="btn btn-success float-end" routerLink="/crearProducto">Nuevo</button>
                    <table class="table table-striped mt-5">
                        <thead>
                            <tr>
                                <th>Producto</th>
                                <th>Categoria</th>
                                <th>Ubicacion</th>
                                <th>Precio</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Coca Cola</td>
                                <td>Bebida</td>
                                <td>Calle 50 A</td>
                                <td>400.00</td>
                                <td><i class="fas fa-edit" style="color:cadetblue"></i></td>
                                <td><i class="fas fa-trash" style="color:brown"></i></td>
                            </tr>
                            <tr>
                                <td>Malboro 20</td>
                                <td>Cigarrillos</td>
                                <td>Calle 50 A</td>
                                <td>200.00</td>
                                <td><i class="fas fa-edit" style="color:cadetblue"></i></td>
                                <td><i class="fas fa-trash" style="color:brown"></i></td>
                            </tr>
                        </tbody>
                    </table>
                    
                </div>
            </div>
        </div>
    </div>
</div>